<div class='container'>
  <h1>Test your code, or it will test you.</h1>
</div>

<div class='container'>
  <div class='col-md-6'>
  <h1>Job counts of top 10 Interests</h1><br>
  <% @interested_jobs.sort.reverse.take(10).each do |interest, count| %>
    <p> There are <%= count %> jobs with a level of interest of <%= interest %></p>
  <% end %>
  </div>
  <div class='col-md-6'>
  <h1>Job counts of top 10 Interests</h1><br>
  <% @interested_jobs.sort.reverse.take(10).each do |interest, count| %>
    <p> There are <%= count %> jobs with a level of interest of <%= interest %></p>
  <% end %>
  </div>
</div>
