<div class='container'>
  <div class='col-md-6'>
  <h1>Job counts of top 10 Interests</h1><br>
  <% @interested_jobs.each do |interest, count| %>
    <p> There are <%= count %> jobs with a level of interest of <%= interest %></p>
  <% end %>
  </div>
  <div class='col-md-6'>
  <h1>Favorite 3 Companies</h1><br>
  <% @company_interests.each do |interest, company| %>
    <p> <%= link_to company, company_path(Company.find_by(name: company)) %> has an average level of interest of:<%= interest %></p>
  <% end %>
  </div>
</div>
