<div class="jumbotron">
  <h1>Welcome, Job Hunter!</h1>
</div>
<div>
  <h3>Count of jobs by level_of_interest</h3>
  <h3>Top 3 companies ranked by average level of interest(along with their respective levels of interest)</h3>
  <h3>Count of jobs by location w/ link to visit a page with jobs only in that location</h3>
</div>
