<div class='container'>
  <div class='col-md-6 well'>
  <h1>Favorite 3 Companies</h1><br>
  <% @company_interests.each do |interest, company| %>
    <h4>
      <p> <%= link_to company, company_path(Company.find_by(name: company)) %> has an average level of interest of:<%= interest %></p>
    </h4>
  <% end %>
  </div>
  <div class='col-md-6 well'>
  <h1>Jobs with highest Interest</h1><br>
  <% @interested_jobs.each do |interest, count| %>
    <h4>
      <p> There are <strong><%= count %></strong> job(s) with a level of interest of <strong><%= interest %></strong></p>
    </h4>
  <% end %>
  </div>
</div>
