<h3>Enter a Comment</h3>
<%= form_for [@job.company, @job, @comment], :html => {:class => "form-inline"} do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit class: 'btn btn-default' %>
<% end %>
