<h3>Post a comment</h3>

<%= form_for [@company, @job, @comment ] do |f| %>
  <p>
    <%= f.label :content %><br/>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
