<h1>Jobs in <%= @jobs.first.city %></h1>
<hr>

<ul class="list-group">
  <% @jobs.each do |job| %>
    <li class="list-group-item">
      <span class="badge"><%= job.level_of_interest %></span>
      <%= link_to job.title, company_job_path(job.company, job) %> at <%= job.company.name %>
    </li>
  <% end %>
</ul>