
<div class='container'>
  <h1>Jobs for the city of <%= @city.first.city %>:</h1>
</div>

<div class='container'>
  <% @city.each do |job| %>
    <li><%= link_to job.title, company_job_path(job.company, job) %></li>
  <% end %>
</div>
