<h1>Dashboard</h1>
<h2>Top 3 Companies by Level of Interest:</h2>
<ol>
  <% @top_companies.each do |company| %>
    <li>
      <%= company.name %>
    </li>
  <% end %>
</ol>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <tr>
      <th>Level of Interest</th>  <th># of Jobs</th>
    </tr>
    <% @count_of_jobs_by_level_of_interest.each_pair do |level_of_interest, count_of_jobs| %>
      <tr>
        <td><%= level_of_interest %></td>  <td><%= count_of_jobs %></td>
      </tr>
    <% end %>
  </table>
</div>
