<h1 class="index-title">Edit the <%= @job.title %> Position</h1></br></br>

<%= render partial: "form" %>
<div id="show">&larr;<%= link_to "Back to #{@company.name}", company_jobs_path(@company)%></div>