<div class="col-md-6 col-md-offset-1 text-center well">

All Jobs for <strong><%= @company.name %></strong>
<% @jobs.each do |job| %>
  <h4><%= job.title %> at <%= job.company.name %></h4>
<% end %>
</div>
