<div class="container">
  All Jobs for <strong><%= @company.name %></strong>
  <div class="list-group">
    <% @jobs.each do |job| %>
      <a class="list-group-item"<%= link_to job.title, company_job_path(@company, job) %></a>
    <% end %>
  </div>
</div>
