<h1>All Jobs for <strong><%= @company.name %></strong></h1>

<ul class="index-display">
  <% @company.jobs.each do |job| %>
    <li class="item"><%= link_to job.title, company_job_path(@company, job) %> at <%= job.company.name %></li>
  <% end %>
</ul>

<div class="new-item">
  <%= link_to "Add New Job for #{@company.name}", new_company_job_path(@company) %>
</div>