<%= render partial: "header" %>

<table class = "table">
  <tr>
    <th>Title</th>
  </tr>
  <% @company_jobs.each do |company_job|%>
    <tr>
      <td><%= link_to company_job.title, company_job_path(@company, company_job) %></td>
    </tr>
  <% end  %>
</table>