<div class='container'>
  <h1>List of the jobs sorted by city</h1>
</div>
  <div class='container'>
  <ul class='list-group'>
    <% @city_jobs.each do |city| %>
      <li><strong><%= link_to city[0], jobs_path(:location => city[0]) %></strong></li>>> <%= city[1].join(', ') %></li>
      <% end %>
    </ul>
</div>

<br>
<br>