<div class="container">
  <h2>All Jobs in <%= @location %></h2>
</div>

<div class="container">
  <ul>
  <% @jobs.each do |job| %>
    <li><%= link_to job.title, company_job_path(job.company, job) %> at
    <%= link_to job.company.name, company_path(job.company) %></li>
  <% end %>
  </ul>
</div>