<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'home/index', media: 'all', 'data-turbolinks-track' => true %>
    <title>JobTracker</title>
  </head>
  <body>
    <div class="image-gradient-dynamic">
      <img src="http://southtexascattlemarketing.com/wp-content/uploads/2015/02/WoodBackground-96dpi.jpg" alt="">
      <div class="overlay"></div>
      <div class="copy">
      </div>
    </div>
  </body>
</html>
