<div class="form-container center-block">
  <h1>Edit Contact at <%= @company.name.upcase %> </h1>

  <%= render partial: "form" %>
</div>

<br />
<br />
<div> <%= link_to "Add Contact", new_company_contact_path(@company) %> </div>
