<div>
<h3>All Companies</h3>

<% @companies.each do |company| %>
  <ul class=company_<%= company.id %>>
    <li><%= link_to company.name, company_path(company) %><br></li>
    <br/>
    <div class="button btn">
    <div class="button btn-update"><%= link_to "Edit", edit_company_path(company) %></div>
    <br/>
    <div class="button btn-delete"><%= link_to "Delete", company_path(company), method: "delete" %></div>
    </div>
  </ul>
<% end %>
<br/>
</div>
