<h3>All Companies</h3>

<% @companies.each do |company| %>
  <ul class=company_<%= company.id %>>
    <%= link_to company.name, company_path(company), {:class=>"light_link"}  %><br>
  </ul>
<% end %>
<br>
<%= link_to "Create a company", new_company_path %>
