@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bitter|Titillium+Web');

body {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Bitter";
  text-align: center
}

.title {
  background: rgba(0, 0, 0, 0.15);
  width: 34%;
  border-radius: 5px;
  margin-left: 35px;
}

h3 {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: "Titillium Web";
  text-align: center;
}

.blurb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.nav-item {
  float: right;
}

.subtitle {
  background: rgba(0, 0, 0, 0.25);
  width: 60%;
  margin-left: 50px;
  margin-top: -20px;
  border-radius: 5px;
}

p {
  text-align: center;
  font-family: "Bitter";
}

a {
  font-family: "Titillium Web";
  font-weight: 650;
  font-size: 110%;
  color: #860200;
}

a:hover {
  color: black;
  text-decoration: none;
}

h4 {
  text-align: center;
  font-family: "Titillium Web";
  font-weight: 650;
}

.index-title {
  text-align: right;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-right: 35px;  
  width: 95%;
}

#links {
  margin-left: 5px;
  margin-top: -10px;
}

#link {
  background: rgba(0, 0, 0, 0.25);
}

#single-link {
  background: rgba(0, 0, 0, 0.25);
  width: 20%;
  text-align: center;
  border-radius: 2px;
  margin-top: 0px;
}

#jobs {
  margin: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

#jobs-index {
  margin: 0 auto;
}

#form {
  font-family: "Titillium Web";
}

h5 {
  font-family: "Titillium Web";
}

#contacts {
  text-align: center;
  margin: 15px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

#contacts-header {
  text-align: center;
}

#flash {
  font-family: "Titillium Web";
}