
/*~~~~~~~ GENERAL STYLES ~~~~~~~*/
.button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-radius: 0;
  font-size:20px;
  color: black;
}

.button:hover {
  background-color: rgba(0,0,0,0.7);
  border: 2px solid #fff;
}
.btn-edit:hover {
  border: 2px solid Teal;
  color: Teal;
}

.btn-delete:hover {
  border: 2px solid #FF5357;
  color: #FF5357;
}
.btn-create_new:hover {
  border: 2px solid orange;
  color: orange;
}

.btn-form {
  display: inline-block;
  float: right;
}
/* ~~~~~~~ LAYOUT ~~~~~~~*/
body {
  background: Gainsboro ;

      }
