// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.home {
  color: black;
  font-family: "varsity_playbook";
  font-size: 50px;
  letter-spacing: 5px;

  margin-left: 300px;
  line-height: 600px;
}
