
body {
  background-color: #efefef;
  color: #444444;
}

.navbar {
  background-color: #ffffff;
}

a {
  color: #ff3b3f;
}

.jumbotron {
  background: #caebf2;
}

.contacts {
  padding-top: 25px;
  padding-bottom: 75px;

}

.glyphicon.glyphicon-plus {
    font-size: 100px;
    padding-left: 50px;
}
