html {
  margin: 0px;
  padding: 0px;
}

 body {
    font-family: Arial;
    color: #363B3A;
    margin: 0px;
    padding: 0px;
  }

  table {
      width: 60%;
      margin: 0px auto;
      border-spacing: 0px 10px;
  }

  th, td {
      padding: 8px;
      text-align: center;
  }

  td:first-child {
    font-size: 1.5em;
    font-weight: bold;
  }

  tr {
    /*background-color: #ececec;*/
    background-color: #ececec;
  }

  a {
    text-decoration: none;
    color: #4D37AF;
  }

  .dashboard-link {
    float: right;
  }

  header {
    background-color: #363B3A;
    height: 70px;
  }

  h1 {
    margin: 0px;
    color: white;
  }
