body {
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-size: 25px;
}

nav {
  display: table;
  height: 50px;
  min-width: 100%;
  background: #00C9FF; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00C9FF , #92FE9D); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00C9FF , #92FE9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #f7f7f7;
  box-shadow: 1px 1px 5px #888888;
}

nav h1 {
  font-weight: 900;
  font-size: 20px;
  padding: 20px 0 15px 20px;
}

.nav-links {
  float: right;
}

.link {
  padding: 15px 20px;
}

.link a {
  text-decoration: none;
  color: #001548;
}

.wrapper {
  margin: 50px 40px;
}

a {
  text-decoration: none;
  color: #111c27;
}

a:hover {
  text-decoration: underline;
  color: seagreen;
}

.index-display {
  margin: 20px;
  table-layout: fixed;
  text-align: left;
}

.index-display th, td {
  padding: 10px;
}

.index-display th {
  font-size: 20px;
}

.item a {
  color: #111c27;
}

.item a:hover {
  color: #472a43;
  text-decoration: underline;
}

form {
  display: inline;
}

.back-link {
  margin: 20px;
  transition: .3s ease-in-out;
}

.back-link:hover {
  transform: translateX(-8px);
}

form {
  padding: 20px 20px;
  border: 2px black;
}

label {
  display: block;
}