<h1>All Categories</h1>
<div class="new-item">
  <%= link_to "New Category", new_category_path %>
</div>

<table class="index-display">
  <% @categories.each do |category| %>
    <tr>
      <td class="item"><%= link_to category.title, category_path(category) %></td>
      <td><span class="edit-item"><%= link_to "Edit", edit_category_path(category) %></span></td>
      <td><span class="delete-item"><%= link_to "Delete", category_path(category), method: :delete %></span></td>
    <tr>
  <% end %>
</table>