<div class='page-header'>
  <div class='btn-toolbar pull-right'>
        
    <%= link_to "Edit", edit_category_path(@category), class: "btn btn-default" %>

    <%= link_to "Delete", category_path(@category), method: "delete", class: "btn btn-default",
    data: {confirm: "Are you sure? This action will delete all jobs associated with the category"} %>

  </div>
  <h2>All Jobs for Category <strong><%= @category.title %></strong></h2>
</div>


<div class="col-md-6">
  <ul class="list-group">
  <% @jobs.each do |job| %>
      <li class="list-group-item"><%= link_to "#{job.title} at #{job.company.name}", company_job_path(job.company, job) %></li>
  <% end %>
  </ul>
</div>