<nav class="navbar">
  <a class="navbar-logo" href="#"><img src="http://previews.123rf.com/images/6kor3dos/6kor3dos1207/6kor3dos120700158/14519691-3d-person-holding-a-blue-pen-is-on-top-of-a-job-application-paper-Stock-Photo.jpg" height="78px"></a>
  <ul class="nav navbar-nav">
    <li class="dashboard">Job Dashboard</li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Companies<span class="caret"></span></a>
      <div class="dropdown-menu">
        <a link_to companies_path class="dropdown-item">All Companies/a>
        <a link_to new_company_path class="dropdown-item">Add New Company</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Jobs <span class="caret"></span></a>
      <div class="dropdown-menu">
        <a link_to companies_path class="dropdown-item">All Jobs</a>
        <a  link_to new_company_job_path class="dropdown-item">Add New Job</a>
      </div>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
      <div class="dropdown-menu">
        <a link_to categories_path class="dropdown-item">All Categories</a>
        <a link_to new_category_path class="dropdown-item">Add New Category</a>
      </div>
    </li>
  </ul>
</nav>