<nav>
    <ul>
      <li><h1><%= link_to "Job Tracker", "/dashboard", class: "header" %></h1></li>
      <li>
        <span class="nav-links">
          <span class="link">
            <%= link_to "Companies", companies_path %>
          </span>
          <span class="link">
            <%= link_to "Categories", categories_path %>
          </span>
        </span>
      </li>
    </ul>
  </nav>