<nav class="navbar">
  <a class="navbar-logo" href="#"><img src="http://previews.123rf.com/images/6kor3dos/6kor3dos1207/6kor3dos120700158/14519691-3d-person-holding-a-blue-pen-is-on-top-of-a-job-application-paper-Stock-Photo.jpg" height="78px"></a>
  <ul class="nav navbar-nav">
    <li class="dashboard"><a href="/dashboard">Job Dashboard</a></li>
    <li class="nav navbar-nav"><a href="/companies">Companies</a></li>
    <li class="nav navbar-nav"><a link_to company_jobs_path>Jobs </a></li>
    <li class="nav navbar-nav"><a href="/categories">Categories </a></li>
  </ul>
</nav>