<nav class="navbar">
  <div class="container-fluid">
    <ul>
      <li><a href="#">jobs</a></li>
      <li><%= link_to "companies", companies_path %></li>
      <li><%= link_to "categories", categories_path %></li>
      <li><a href="#">dashboard</a></li>
    </ul>
  </div>
</nav>
